.container {
  margin: 100px;
}

.item {
  margin-inline-start: 20px;
  padding: 10px;
  border: 1px solid #f51111;
}

.container {
  padding: 20px 10px; /* top/bottom padding: 20px, left/right padding: 10px */
}

.item {
  padding-inline-start: 410px; /* 10px padding on start side based on direction */
  padding-inline-end: 30px; /* 20px padding on end side based on direction */
}
