.grid-container {
    display: grid;
    grid-template-columns: auto auto auto; /* 3 equal columns */
    grid-template-rows:auto auto auto; /* 2 rows, auto-height */
    grid-gap: 10px; /* Space between rows and columns */
    border: 2px solid hwb(263 3% 2%);
    padding: 10px;
}

.grid-item {
    background-color: #003cff;
    padding: 10px;
    text-align: center;
}

/* Make item 1 occupy the first row fully */
/* .grid-container > .item-1 {
    grid-column: 1 / 4;
} */