.container p:hover {
  background-color: brown;
}

.container p:active {
  background-color: yellow;
}
ul li:first-child {
  font-weight: bold;
}
ul li:last-child {
  font-weight: bold;
}

ul li:nth-child(2) {
  color: rgb(151, 220, 219);
}

ul li:nth-of-type(3) {
  color: green;
}

ul li:first-of-type {
  color: rgb(254, 125, 19);
}

ul li:last-of-type {
  color: rgb(226, 0, 234);
}

ul li:only-child {
  background-color: rgb(54, 219, 126);
}
ul li:only-of-type {
  background-color: rgb(54, 219, 126);
}

input[type="checkbox"]:checked + label {
  border-color: rgb(246, 23, 23);
  font-weight: bold;
  color: rgb(38, 143, 248);
}

input:enabled {
  border-color: blue;
}
input:required {
  border-color: red;
}

input:valid {
  border-color: green;
  background-color: lightgreen;
}
input:invalid {
  border-color: rgb(156, 19, 19);
  background-color: rgb(255, 4, 4);
}

ul li:not(:last-child) {
  color: rgb(255, 0, 0);
}

:lang(en) {
  quotes: "«" "»";
}
.en-text {
    font-family: "Helvetica Neue";
}